// .vuepress/style.styl, will overwrite the default theme
.site-name {
  font-family:   'Major Mono Display', cursive;
  font-weight: 400 !important
  font-size: 2rem !important
}

.page__header {
  margin-top: 0 !important;
}